@model IEnumerable<WeeklyJIRAStatus.Models.WeeklyJIRA>

@{
    ViewData["Title"] = "WeeklyJIRA";
}

<h1>WeeklyJIRA</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JIRA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JIRA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @*<a asp-action="Create" asp-route-id="@item.Id">Edit</a>|
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                @Html.ActionLink("Edit", "Create", new { item.Id, item.First_Name, item.JIRA, item.Application, item.Description, item.Status })
                @Html.ActionLink("Delete", "DeleteJIRA", new { item.Id, onclick = "return confirm('Do you really want to delete this JIRA Record?)')" })
            </td>
        </tr>
}
    </tbody>
</table>
